* {
  outline: 1px solid red;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-areas:
    "sidebar header header header header header"
    "sidebar main main main main main"
    "sidebar main main main main main";
  gap: 10px;
  background-color: blue;
  padding: 10px;
}

.sidebar {
  grid-area: sidebar;
  background-color: pink;
}

.header {
  grid-area: header;
  background-color: violet;
}

.main-content {
  grid-area: main;
  background-color: yellow;
}
